<h1 class="text-center">Brand</h1>

<p class="text-center">
	<em>
		"In my next life I want to live my life backwards."<br /> - Woody Allen
	</em>
</p>

<div class="text-center">
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
</p>