#mainContent {
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-right: 15px;
	padding-left: 15px;
}

input.form-control {
	padding: 10px;
	height: 36px;
}

.btn {
	font-size: 1.1em;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 12px;
	padding-left: 12px;
}

form .btn {
	margin-top: 10px;
}

.fieldError, .baseErrors {
	font-style: italic;
	font-weight: normal;
	color: #D62C1A;
}